// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ax-blue-palette: (
  // should be same as in tailwind.config.js
  50: #eff6ff,
  100: #dbeafe,
  200: #bfdbfe,
  300: #93c5fd,
  400: #60a5fa,
  500: #3b82f6,
  600: #4c73db,
  700: #2852c8,
  800: #2144a6,
  900: #1d3c91,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
  )
);

$example-app-primary: mat.define-palette($ax-blue-palette, 700, 600, 900);
$example-app-accent: mat.define-palette(mat.$blue-palette, A400, A100, A700);

// The warn palette is optional (defaults to red).
$example-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$example-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $example-app-primary,
      accent: $example-app-accent,
      warn: $example-app-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($example-app-theme);

@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

html,
body {
  @apply h-full;
}

body {
  @apply m-0 font-sans;
}

h1 {
  @apply text-5xl font-black mb-8;
}

h2 {
  @apply text-3xl font-black mb-4;
}

p {
  @apply text-lg mb-4;

  &.subtitle {
    @apply text-2xl leading-relaxed text-slate-600;
  }
}

ul {
  @apply list-disc text-lg ml-4 mb-4;
}

ul li {
  @apply py-2;
}

code {
  @apply inline-block mx-2 px-2 bg-blue-200 rounded;
}
